@import url('https://rsms.me/inter/inter.css');
/* due to stroke issue on homepage title, from: https://rsms.me/inter/ */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100..900&display=swap');

:root{
    --blue: #022B3A;
    --yellow: #F0EC57;
    --grey: #E8E9F3;
    --coral: #FF9670;
    --green: #2A9D8F;

}

body, html {
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
    font-size: 16px;
    font-family: "Work Sans", sans-serif;
    overflow-x: hidden;
    color: var(--blue);
    scroll-behavior: smooth;
}

h1 {
    font-family: "Inter";
    font-weight: 900;
    padding-bottom: 10px;
}

#background-img {
    min-height: 100%;
    max-height: 100%;
    /* background-image: url("assets/hom_bkgrnd_3_solo.png"); */
    background-repeat: no-repeat;
    background-position: right top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    background-color: #0C0C0C;
}

#floating-img {
    height: 100vh;
    display: flex;
    position: absolute;
    right: -0px;
}

#container {
    height: 100%;
    position: relative;
}

#hom-title {
    color: white;
    position: absolute;
    top: 40%;
    left: 12vw;
    width: 100%;
}

#hom-title-text {
    font-size: 7.5vw;
    font-family: "Inter";
    font-weight: 900;
    color: var(--green);
    letter-spacing: 0.05em;

}

#home-title-text-stroke {
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--green);
}

#hom-subtitle {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

#hom-subtitle-text {
    font-weight: 200;
    font-size: 1.8vw;
    margin-left: 10px;
    flex-grow: 1;
}

#hom-subtitle-slash {
    font-weight: 500;
    font-size: 2vw;
    flex-grow: 0;
}


/* ------- STICKY HEADER BAR ---------- */

#hom-header-text-container {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    height: 45px;
    margin: auto;
    margin-top: -65px;
    padding-top: 17.5px;
    text-align: center;
    width: 50%;
    z-index: 1;
}

#hom-header-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    font-size: 20px;
    /* text-shadow: 0px 0px 0px #fff; */
    color: #0d5269;
    z-index: 1;
}

#hom-logo-img {
    top: 10px;
    height: 25px;
    width: 100%;
    
}

#hom-header {
    background-color: #fff;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    height: 60px;
    margin: 2px -50px;
    box-shadow: 0 0 10px 3px rgba(65, 65, 65, 0.15);
}

.hom-header-text-container{
    z-index: -1;
}

.hom-header-block {
    margin: 0 50px;
}

.hom-header-block a{
    height: 50%;
    width: 50%;
}


.hom-header-block img {
    vertical-align: middle;
}

#hom-header-logo img {
    height: 20px;
    vertical-align: middle;
}


#hom-header-logo {
    float: left;
    line-height: 60px;
}

#hom-header-linkedin {
    float: right;
    line-height: 72px;
}

#hom-header-linkedin img {
    width: 30px;
}

#hom-header-contact button {
    cursor: pointer;
}

.hom-flexbox {
    flex: 1;
}

#hom-body-container {
    margin: 0px 50px;
    padding-bottom: 1000px;
}

#hom-bio-container {
    max-width: 600px;
    margin: auto;
    margin-top: 50px;
    text-justify: inter-word;
}

#hom-button-container {
    display: grid;
    justify-content: center;
    grid-template-columns: 31% 31% 31%;
    grid-column-gap: 20px;
    margin: auto;
    margin-top: 50px;
    max-width: 600px;
    align-items: center;
}


/* -------- HOMEPAGE CONTENT --------- */

.hom-button {
    text-align: center;
    line-height: 20px;
    font-size: 1.2em;
    border: 0px solid transparent;
    padding: 0px 0px;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
    background-color: #bdb825;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}

/* .hom-button:hover {
    box-shadow: 5px 5px 0px 0px rgba(240, 236, 87, 0.8);
    background-color: var(--coral);
    color: #fffdbf;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    border: 1px solid transparent;
} */

.hom-button-front {
    display: block;
    padding: 20px 10px;
    border-radius: 5px;
    background: var(--yellow);
    color: #000;
    transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
    transform: translateY(-5px);
}

.hom-button:hover .hom-button-front {
    transform: translateY(-9px);
    transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}
  
.hom-button:active .hom-button-front {
    transform: translateY(-1px);
    transition: transform 34ms;
}




#hom-contact-anchor {
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
}

#hom-contact-container {
    max-width: 600px;
    margin: auto;
    margin-top: 50px;
}


/* ---------CONTACT PAGE CONTENT ------------ */

#contact-header-container {
    width: 100vw;
    position: relative;
    left: calc(-50vw + 50%);
}

#contact-header-img {
    width: 100%;
}



@media (max-width: 768px) {

#hom-title {
    top: 65%;
    left: 6vw;
}

#hom-title-text {
    font-size: 50px;
}

#hom-subtitle-text {
    font-size: 4vw;
}

#hom-subtitle-slash {
    font-size: 23px;
}

#hom-logo-img {
    height: 20px;
}

#hom-button-container {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
    grid-column-gap: 10px;
}


}

@media (max-width: 500px) {

    #background-img {
        background-attachment:fixed;
        background-position: right -45px bottom 0px;

    }

    #floating-img {
        height: 100vh;
        display: flex;
        position: absolute;
        right: -50px;
    }

    #hom-button-container {
        margin: 50px 0px;
    }
    
    #hom-body-container {
    margin: 0px 25px;
    }
}
