@import url('https://rsms.me/inter/inter.css');
/* due to stroke issue on homepage title, from: https://rsms.me/inter/ */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100..900&display=swap');

:root{
    --blue: #022B3A;
    --yellow: #F0EC57;
    --grey: #E8E9F3;
    --coral: #FF9670;
    --green: #2A9D8F;

}

body, html {
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
    font-size: 16px;
    font-family: "Work Sans", sans-serif;
    overflow-x: hidden;
    color: var(--blue);
    scroll-behavior: smooth;
}

h1 {
    font-family: "Inter";
    font-weight: 900;
}

#background-img {
    height: 100%;
    background-image: url("assets/hom_bkgrnd_1.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#container {
    height: 100%;
    position: relative;
}

#hom-title {
    color: white;
    position: absolute;
    top: 40%;
    left: 12vw;
    width: 100%;
}

#hom-title-text {
    font-size: 7.5vw;
    font-family: "Inter";
    font-weight: 900;
    color: var(--green);
    letter-spacing: 0.05em;

}

#home-title-text-stroke {
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--green);
}

#hom-subtitle {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

#hom-subtitle-text {
    font-weight: 200;
    font-size: 1.8vw;
    margin-left: 10px;
    flex-grow: 1;
}

#hom-subtitle-slash {
    font-weight: 500;
    font-size: 2vw;
    flex-grow: 0;
}

#hom-logo-container {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    height: 45px;
    /* background-color: chocolate; */
    margin: 0px -20px;
    margin-top: -65px;
    padding-top: 17.5px;
    /* position: absolute;
    bottom: 30px;
    align-content: center; */
    z-index: 1;
}

#hom-logo-img {
    top: 10px;
    height: 25px;
    width: 100%;
    
}

#hom-header {
    background-color: #fff;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    height: 60px;
    margin: 2px -50px;
    box-shadow: 0 0 10px 3px rgba(65, 65, 65, 0.15);
}

.hom-header-block {
    margin: 0 50px;
}

#hom-header-linkedin {
    width: 20px;
    float: left;
    line-height: 60px;
}

.hom-header-block img {
    vertical-align: middle;
}

.hom-header-block button {
    font-family: "Inter";
    border: 1px solid;
    padding: 7px 12px;
    background-color: var(--blue);
    color: #fff;
    border-radius: 5px;
    font-weight: 300;
}

#hom-header-contact {
    float: right;
    line-height: 60px;
}

#hom-header-contact button {
    cursor: pointer;
}

.hom-flexbox {
    flex: 1;
}

#hom-body-container {
    margin: 0px 50px;
    padding-bottom: 1000px;
}

#hom-bio-container {
    max-width: 500px;
    margin: auto;
    margin-top: 50px;
    text-align: justify;
    text-justify: inter-word;
}

#hom-button-container {
    display: grid;
    justify-content: center;
    grid-template-columns: 33% 33% 33%;
    grid-column-gap: 20px;
    margin: 10px;
    margin-top: 50px;
}

.hom-button {
    text-align: center;
    border: 1px solid transparent;
    padding: 10px;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
    background-color: var(--yellow);
}

.hom-button:hover {
    box-shadow: 5px 5px 0px 0px rgba(240, 236, 87, 0.8);
    background-color: var(--coral);
    text-shadow:
    -0.2px -0.2px 0 var(--blue),
    0.2px -0.2px 0 var(--blue),
    -0.2px 0.2px 0 var(--blue),
    0.2px 0.2px 0 var(--blue);
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    border: 1px solid transparent;
}

#hom-contact-anchor {
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
}

#hom-contact-container {
    max-width: 500px;
    margin: auto;
    margin-top: 50px;
}







@media (max-width: 768px) {

#hom-title {
    top: 65%;
    left: 6vw;
}

#hom-title-text {
    font-size: 50px;
}

#hom-subtitle-text {
    font-size: 4vw;
}

#hom-subtitle-slash {
    font-size: 23px;
}

#hom-logo-img {
    height: 20px;
}

#hom-button-container {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
    grid-column-gap: 10px;
}

}

@media (max-width: 500px) {

    #background-img {
        margin-right: -35px;
    }
}